<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/client/css/index.css">
    <meta charset="UTF-8">
    <title>Tischreservierung</title>
</head>
<body>

<div class="Überschrift">
    <h1>Startseite für die Tische Web-App</h1>
</div>

<form id="Login" method="POST" action="/login">
    <div class="Name">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= user.name %>">
    </div>
    <div class="Password">
        <label for="password">Passwort</label>
        <input type="password" name="password" value="<%= user.password %>">
    </div>
    <div class="Button">
        <button type="submit" value="Login">Login</button>
    </div>
</form>

<form id="Registrieren" method="get" action="/register">
    <p>Sie haben kein Konto?
        Registrieren Sie sich einfach hier!</p>
    <button type="submit" value="Registrieren">Registrieren</button>
</form>

<script src="/client/js/logic.js"></script>
</body>
</html>