<!DOCTYPE>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <meta charset="UTF-8">
    <title>Registrieren</title>
</head>
<body>
    <p>Registrierung LOL!</p>
</body>

</html>