<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/client/css/success.css">
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
    <div class="Text">
        <p><%= user.name %> hat sich erfolgreich eingeloggt</p>
    </div>
</body>
</html>