.Überschrift {
    font-family: Arial;
    color: blue;
    text-align: center;
}

#Login {
    text-align: center;
    margin-top: 20px;
}

.Name {
    text-align: center;
    margin-left: 26px;
}

.Password {
    text-align: center;
    margin-top: 10px;
}

.Button {
    text-align: center;
    margin-top: 10px;
}

#Registrieren {
    text-align: center;
    margin-top: 20px;

}


